.createForm {
  text-align:center;
}

.titleInput {
  height: 34px;
}

.formPart {
  margin-bottom: 30px;
}

.createFormInput {  
  width: 60%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.createLabel {
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
  color: blanchedalmond;
}

.inputArea {
  margin-top: 7px;
}

.createButton {
  margin-right: 30%;
}

.titleError {
  color: #FF8C8C;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #FF002B;
}

button {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 0.5;;
  border-radius: .3rem;
}

input {
  background: papayawhip;
}